.navbar {
    position: sticky;
    top: 0;
    left: 0;
    padding: 10px 20px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    background: rgba(201, 178, 250, 0.5);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(201, 178, 250, 0.3);

}

.navList {
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    list-style: none;
}

.navItem {
    margin: 0;
}

.navLink {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s ease;
}

.navLink:hover {
    color: #007BFF;
}
