.heroContainer {
    padding: 20rem 2rem;
    background-color: ghostwhite;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.heroContent {
    position: absolute;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
}

.heroContent h1 {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 1rem;
}

.heroContent p {
    font-size: 1.25rem;
    color: #555;
    margin-bottom: 2rem;
}

.heroImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    width:auto;
    height: 250px;
}