@import url('https://fonts.googleapis.com/css2?family=Gothic+A1&family=Nanum+Myeongjo:wght@400;700;800&family=PT+Sans&family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Gothic+A1&family=Nanum+Myeongjo:wght@400;700;800&family=Oswald:wght@200..700&family=PT+Sans&family=VT323&display=swap');
.entryBackground {
    background-color: whitesmoke;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.entryTitle {
    position: absolute;
    top: 0;
    color: ghostwhite;
    font-size: 4rem;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    visibility: hidden;
    opacity: 0;
    animation: fadeIn 3s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
}

.entryButton {
    -webkit-tap-highlight-color: transparent;
    -webkit-appearance: button;
    background-color: #000;
    background-image: none;
    color: #fff;
    font-size: 100%;
    font-weight: 900;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    visibility: hidden;
    opacity: 0;
}

.entryButton {
    --thickness: 0.3rem;
    --roundness: 1.2rem;
    --color: #000000;
    --opacity: 0.6;
    -webkit-backdrop-filter: blur(100px);
    backdrop-filter: blur(100px);
    background: none;
    background: hsl(0, 0%, 100%);
    border: none;
    border-radius: var(--roundness);
    color: var(--color);
    cursor: pointer;
    display: block;
    font-size: 1rem;
    font-weight: 500;
    margin-top: 10rem;
    padding: 0.8rem 3rem;
    position: absolute;
    bottom : 1rem;
    animation: fadeIn 1.5s;
    animation-delay: 0s; /* 12 seconds */
    animation-fill-mode: forwards;
}
.entryButton:hover {
    background: hsl(341, 64%, 54%);
    filter: brightness(1.2);
}

.entryTypeBox {
    position: relative;
    bottom: 210px;
    left: -300px; /* 215px for center*/
    width: 80%;
    height: 6rem;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-transform: uppercase;
    text-align: left;
}

.entryTyping, .entryTypingName {
    position: relative;
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 4rem;
    color: black;
    margin: 0.2rem 0;
    white-space: nowrap;
}

.entryTypingName {
    color: rebeccapurple;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        visibility: hidden;
    }

    to {
        opacity: 1;
        visibility: visible;
    }
}

@media (max-width: 768px) {
    .entryTypeBox {
        width: 90%;
    }
    .entryTyping {
        font-size: 1.2rem;
    }
}
