.heroContainer {
    background-color: #f9f9f9;
    margin-top: 12rem;
    padding-bottom: calc(25%);
    padding-left: calc(25%);
}

.heroContent {
    position: absolute;

    text-align: center;

    max-width: 1200px;
    margin: 0 auto;
}

.heroContent h1 {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 1rem;
}

.heroContent p {
    font-size: 1.25rem;
    color: #555;
    margin-bottom: 2rem;
}