.projectsContainer {
    padding: 6rem 2rem;
    background-color: ghostwhite;
    text-align: center;
}

.projectsContent {
    max-width: 1200px;
    margin: 0 auto;
}

.projectsTitle {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 1rem;
    font-family: "Lato", sans-serif;
    font-weight: 800;
    padding-bottom: 2rem;
}

.projectsGifList {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: 2rem;
}

.projectsGifBox {
    display: flex;
    gap: 3rem;
    flex-direction: column;
}

.projectsGame {
    width: 5000px;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 2rem;
}

.projectsMobile {
    width: 500px;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 2rem;
}

.projectsWeb {
    width: 500px;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 2rem;
}

.projectsGifBox img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.projectsGifBox img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.projectText {
    max-width: 600px;
    text-align: left;
}

.projectText h2 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 0.5rem;
    font-family: "Lato", sans-serif;
    font-weight: 700;
}

.projectText p {
    font-size: 1rem;
    color: #555;
    line-height: 1.5;
    font-family: "Lato", sans-serif;
}

@media (max-width: 768px) {
    .projectsGifList {
        flex-direction: column;
        align-items: center;
    }

    .projectsGifBox {
        flex-direction: column;
        gap: 2rem;
    }

    .projectsGame,
    .projectsMobile,
    .projectsWeb {
        width: 100%;
    }
}
