@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Gothic+A1&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nanum+Myeongjo:wght@400;700;800&family=Oswald:wght@200..700&family=PT+Sans&family=VT323&display=swap');

body {
    background-color: ghostwhite;
}
.navbar {
    position: sticky;
    top: 0;
    left: 0;
    padding: 10px 20px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    background: rgba(201, 178, 250, 0.5);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(201, 178, 250, 0.3);
    z-index: 9999;
}

.navList {
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    list-style: none;
}

.navItem {
    margin: 0;
}

.navLink {
    color: dimgray;
    text-decoration: none;
    transition: color 0.3s ease;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.navLink:hover {
    color: pink;
}

.navLink.active {
    color: palevioletred;
    font-weight: 900;
    border-bottom: 2px solid palevioletred;
    border-radius: 2px;
}


